@import './variables.css';

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-bg-body);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}